<section id="bracket">
	<div class="container">
	<div class="split split-one">
		<div class="round round-one current">
			<div class="round-details">Round 1<br/><span class="date">March 16</span></div>
			<ul class="matchup">
				<li class="team team-top">Duke<span class="score">76</span></li>
				<li class="team team-bottom">Virginia<span class="score">82</span></li>
			</ul>
			<ul class="matchup">
				<li class="team team-top">Wake Forest<span class="score">64</span></li>
				<li class="team team-bottom">Clemson<span class="score">56</span></li>
			</ul>
			<ul class="matchup">
				<li class="team team-top">North Carolina<span class="score">68</span></li>
				<li class="team team-bottom">Florida State<span class="score">54</span></li>
			</ul>
			<ul class="matchup">
				<li class="team team-top">NC State<span class="score">74</span></li>
				<li class="team team-bottom">Maryland<span class="score">92</span></li>
			</ul>			
			<ul class="matchup">
				<li class="team team-top">Georgia Tech<span class="score">78</span></li>
				<li class="team team-bottom">Georgia<span class="score">80</span></li>
			</ul>	
			<ul class="matchup">
				<li class="team team-top">Auburn<span class="score">64</span></li>
				<li class="team team-bottom">Florida<span class="score">63</span></li>
			</ul>	
			<ul class="matchup">
				<li class="team team-top">Kentucky<span class="score">70</span></li>
				<li class="team team-bottom">Alabama<span class="score">59</span></li>
			</ul>
			<ul class="matchup">

				<li><div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle score" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Dropdown button
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					  <a class="dropdown-item" href="#">Action</a>
					  <a class="dropdown-item" href="#">Another action</a>
					  <a class="dropdown-item" href="#">Something else here</a>
					</div>
				  </div>
				</li>

				<li class="team team-bottom">Gonzaga<span class="score">68</span></li>
			</ul>										
		</div>	
		  END ROUND ONE -->

		<!-- <div class="round round-two">
			<div class="round-details">Round 2<br/><span class="date">March 18</span></div>			
			<ul class="matchup">
				<li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
				<li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
			</ul>	
			<ul class="matchup">
				<li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
				<li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
			</ul>	
			<ul class="matchup">
				<li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
				<li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
				<li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
			</ul>										
		</div>	END ROUND TWO -->
<!-- 		
		<div class="round round-three">
			<div class="round-details">Round 3<br/><span class="date">March 22</span></div>			
			<ul class="matchup">
				<li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
				<li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
			</ul>	
			<ul class="matchup">
				<li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
				<li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
			</ul>										 -->
		<!-- </div>	 -->
		<!-- END ROUND THREE -->		
	<!-- </div> 

<div class="champion">
		<div class="semis-l">
			<div class="round-details">west semifinals <br/><span class="date">March 26-28</span></div>		
			<ul class ="matchup championship">
				<li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
				<li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
			</ul>
		</div>
		<div class="final">
			<i class="fa fa-trophy"></i>
			<div class="round-details">championship <br/><span class="date">March 30 - Apr. 1</span></div>		
			<ul class ="matchup championship">
				<li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
				<li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
			</ul>
		</div>

		<div class="container">
<!-- branch 1 -->
					
<!---------------------------------------------------------------------------------------------------->

				<div class="branch_1">

						<div class="object_1">
<!-- Player 1  object 1-->
							<div>
								<select class="name" type="text" placeholder="" id="player01"></select>
							</div>

							<div>
									<form name="formId_1" class="result">
										<select id="result_1">
												<option value="0">0</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
										</select>
									</form>
							</div>
<!-- player 2 object 2 -->
							<div>
								<select class="name" type="text" placeholder="" id="player02"></select>
							</div>

							<div>
									<form name="formId_2" class="result">
										<select id="result_2">
												<option value="0">0</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
										</select>
									</form>
							</div>
						</div>

<!---------------------------------------------------------------------------------------------------->

<!-- Player 1 object 3 -->
							<div class="object_2">
								<div>
									<select class="name" type="text" placeholder="" id="player013"></select>
								</div>
	
								<div>
										<form name="formId_3" class="result">
											<select id="result_3">
													<option value="0">0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
											</select>
										</form>
								</div>
	<!-- player 2 object 3 -->
								<div>
									<select class="name" type="text" placeholder="" id="player04"></select>
								</div>
	
								<div>
										<form name="formId_4" class="result">
											<select id="result_4">
													<option value="0">0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
											</select>
										</form>
								</div>
							</div>
					
<!---------------------------------------------------------------------------------------------------->

<!-- Player 3 object 4 -->
							<div class="object_2">
								<div>
									<select class="name" type="text" placeholder="" id="player05"></select>
								</div>
	
								<div>
										<form name="formId_5" class="result">
											<select id="result_5">
													<option value="0">0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
											</select>
										</form>
								</div>
	<!-- player 4 onject 4 -->
								<div>
									<select class="name" type="text" placeholder="" id="player06"></select>
								</div>
	
								<div>
										<form name="formId_6" class="result">
											<select id="result_6">
													<option value="0">0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
											</select>
										</form>
								</div>
							</div>
				</div>
		</div>