.footer {
    /* position: fixed; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px;
    color: white;
 }

 .name-field{
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
 }

 .footer-form{
    width: 100%;    
    padding: 80px 80px;
    background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.52), rgba(15, 0, 12, 0.73)),
    url(/assets/Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .btn-primary{
    width: 100%;
    font-size: 14px;
    padding: 12px 120px 13px 120px;
 }