<div class="schedule-table">
    <table class="table">
            <thead>
                <tr>
                    <th scope="col">Day(s)</th>
                </tr>
            </thead>
            <!-- Monday schedule -->
            <tbody>
                <tr *ngFor="let entry of entries">
                    <button (click)="toggle(entry.id)" class="btn btn-success">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        <td scope="col">{{ entry.day }}</td>
                    </button>
                    <ng-container *ngIf="show && selectedEntryId == entry.id" class="display-details">
                        <p>{{ entry.info }}</p>
                        <b>{{ entry.data }}</b>
                        <i></i>
                    </ng-container>
                </tr>
            </tbody>
            <!-- Tuesday schedule -->
    </table>
</div>