     <!-- nav buttons  -->
     <div class="main_btn">
        <img src="/assets/ABCIN.png" style="width: 60px;">
        <button class="btn"><a href="#home"><i class="fa fa-home icons"></i></a></button>
        <button class="btn btn2" (click)="toggle()"><i class="fa fa-bars icons"></i></button>

    </div>
    
    <hr>
    <ng-container *ngIf="show">

        <div class="nav-links">
            <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
            <br>
            <a href="#about"><i class="fa fa-fw fa-wrench"></i>About</a>
            <br>
            <a href="#category"><i class="fa fa-fw fa-user"></i>Category</a>
            <br>
            <a href="#teams"><i class="fa fa-fw fa-user"></i>Teams</a>
            <br>
            <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        </div>

    </ng-container>