<app-sidenav></app-sidenav>

<div class="Hero">
    <div class="grid-cards">
                <div class="winner">
                    <img src="/assets/bgAlright.png">
                </div>

                <a href="#">
                    <i class="fa fa-users"></i>
                     <h5>Player</h5><sub>50</sub>
                </a>

                <a href="#">
                    <i class="fa fa-users"></i>
                    <h5>Player</h5><sub>50</sub>
                </a>

                <a href="#">
                    <i class="fa fa-users"></i>
                    <h5>Player</h5><sub>50</sub>
                </a>

                <a href="#">
                    <i class="fa fa-users"></i>
                    <h5>Player</h5><sub>50</sub>
                </a>
</div>

<div class="contain-div">
    <div class="calender">
             <h1>Calender</h1>
             <hr>
    </div>
    <div class="notifications">
        <h1>Notification</h1>
        <hr>
    </div>
</div>




<!-- 
<div class="calender-area">
    <div class="calender">
        <button (click)="toggle()">January</button>
        <br>
        <button>February</button>
        <br>
        <button>March</button>
        <br>
        <button>April</button>
        <br>
        <button>May</button>
        <br>
        <button>June</button>
        <br>
        <button>July</button>
        <br>
        <button>August</button>
        <br>
        <button>September</button>
        <br>
        <button>October</button>
        <br>
        <button>November</button>
        <br>
        <button>December</button>
    </div>
    
    <ng-container *ngIf="show">
          <table>
            <thead>
                <th>S</th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>S</th>
            </thead>
            <tbody>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
               
            </tbody>
          </table>
    </ng-container>
</div> -->


<!-- <button>January</button>
                        <br>
                        <button>February</button>
                        <br>
                        <button>March</button>
                        <br>
                        <button>April</button>
                        <br>
                        <button>May</button>
                        <br>
                        <button>June</button>
                        <br>
                        <button>July</button>
                        <br>
                        <button>August</button>
                        <br>
                        <button>September</button>
                        <br>
                        <button>October</button>
                        <br>
                        <button>November</button>
                        <br>
                        <button>December</button> -->

<!-- <div class="list-group" style="width: 50%; margin: 0 auto;">
        <div class="container">
            <h3></h3>
        </div>
    </div> -->

<!-- 
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
 -->