*{
    margin: 0;
    padding: 0;
}

.Hero{
    margin: 0 auto;
    padding-bottom: 5%;
}

.grid-cards{
    display: flex; 
    grid-gap: 25px;
    margin: 0 auto; 
    margin-left: 20px;
    padding-left: 350px;
}

.grid-cards .winner{
    width: fit-content;
    block-size: fit-content;
}

.grid-cards a{
    box-shadow: 0 3px 30px rgb(0 0 0 / 10%), 0 3px 20px rgb(0 0 0 / 10%);
    text-decoration: none;
    border-radius: 1.2rem;
    border-radius: 5px;
    display: flex;
    padding: 25px;
    height: 100px;
    width: 250px;
}

.grid-cards a i{
    border-right: 2px solid #0010f5;
    font-size: 20px;
    padding: 20px;
}

.grid-cards a:hover{
    border: none; 
    background: #d4d4d4;
}

.grid-cards a sub{
    font-weight: 800;
    margin-left: 5px;
    padding-top: 22px;
    font-size: 15px;
}

.grid-cards a h5{
    font-weight: light;
    margin-left: 59px;
    padding-top: 15px;
    font-size: 20px;
}

.Hero .container{
    border: 2px solid #000;
}

.grid-cards .winner img{
    position: relative;
    height: 200px;
}

 .calender{
    width: 100%;
}

.calender button{
    width: 30%;
    margin: 0 auto;
    padding: 5px 20px 5px 10px;
}

.contain-div{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding-left: 18%;
    padding-top: 5%;
}

.calender{
    width: 300px;
    height: 400px;
    box-shadow: 0 3px 30px rgb(0 0 0 / 10%), 0 3px 20px rgb(0 0 0 / 10%);
    border-radius: 1.2rem;
    padding: 20px;
}

.notifications{
    width: 1000px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 1.2rem;
    box-shadow: 0 3px 30px rgb(0 0 0 / 10%), 0 3px 20px rgb(0 0 0 / 10%);
}

