
.sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    overflow-x: hidden;
    padding: 30px;
  }
.sidebar div{
    margin-top: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 3px 30px rgb(0 0 0 / 10%), 0 3px 20px rgb(0 0 0 / 10%);
    border-radius: 1.2rem;
    background-color: #ffffff;
}
  
  .sidebar div a {
    padding: 20px 3px 20px 16px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    color: #000;
    display: block;
    border-radius: 3px;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  