<p>sidenav works!</p>

<div class="sidebar col-3">
    <div>
        <a href="#home"><i class="fa fa-fw fa-home" style="padding-right: 20px;"></i> Home</a>
        <hr>
    </div>

    <div>
        <a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a>
        <hr>
    </div>

    <div>
        <a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a>
        <hr>
    </div>

    <div>
        <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <hr>
    </div>
  </div>
  